<div class="login-wrapper  row" fxLayout="row" fxLayoutAlign="center center">
    <div class="col-sm-8">

    </div>
    <div class="col-sm-4">
        <mat-card class="box top">
            <mat-card-header>
                <mat-card-title >Login</mat-card-title>
            </mat-card-header>
            <form class="example-form">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="primary" class="btn-block" routerLink="/dashboard">Log in</button>
            </form>
        </mat-card>
    </div>
</div>
