.image{
    background: url("/src/assets/images/gainde/ia.jpg");
}

#test {
    background-image: url();
    background-size: cover;
    /* background: url(http://www.petite-annonce-gratuite.com/layout_images/carte-france.png) no-repeat; */
    width: 100%;
    height: 390px;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #test {
        width: 100px;
        background-size: cover;
    }
    
}
body{
    background-image: url("/src/assets/images/gainde/ia1.jpg");
    background-size: cover;

}
.top{
    margin-top: 40%;
}