/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.image{
    background-image: url(/src/assets/images/gainde/ia.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	height: 258px;
}